.container {
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: blue; */
}

.rowr {
    display: flex;
    align-items: center; /* Center items vertically within the row */
}

ul {
	margin-right: 0px;
    list-style: none;
    padding: 0;
    display: flex; /* Display the list items in a row */
    align-items: center; /* Center items vertically within the list */
    margin-left: auto; /* Push the list items to the right */
}

li {
    margin: 0 10px; /* Add some space between list items */
}

a {
    text-decoration: none;
    color: black;
    font-family: poppins;
    font-size: 16px;
}

header {
    background-color: transparent;
	position: fixed;
}

.logo {
    height: 100px;
}

.About{
}

.Tl{
	width: 100%;
}

.text{
	background: rgba(76, 175, 80, 0.6);	
}